* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 900;
  font-style: italic;
  color: darkslategrey;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 180px;
  padding: 20px;
  gap: 20px;
  border: 0.3px solid rgba(14, 14, 14, 0.733);
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.height-in, .weight-in {
  gap: 5px;
}

.input input {
  width: 180px;
  height: 30px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  background-color: rgb(191, 189, 189);
  color: black;
}

input:focus {
  outline-color: transparent;
}

.output {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  font-size: large;
}

.text {
  font-weight: 800;
}
.final-output {
  color:green;
  font-weight: 600;
}

.status {
  color: green;
}